main.about {
	display: flex;
	flex-direction: column;
	img {
		max-width: 10cm;
		align-self: center;
	}
	h2, h3 {
		align-self: center;
	}
	ul {
		margin: 2rem;
		padding: 1rem;
	}
	& > div {
		align-self: center;
		a {
			font-size: 2rem;
		}
	}
}
