$dashboard-width-limit: 480px !default;

.dashboard {
	display: grid;
	grid-template-columns: repeat(22, 1fr);
	grid-template-rows: repeat(16, 2.5rem);
	margin:1rem;
}

.main-dashboard {
}

.parc-dashboard {
	/* hide unused columns on the right (article blocs not present)*/
	grid-template-columns: repeat(13,1fr) repeat(9, 0);
}

.stock-dashboard {
	/* hide unused columns on the left (stock blocs not present)*/
	grid-template-columns: repeat(9,0) repeat(13, 1fr);

}

.dashboard-bloc {
	/* border: solid green 1px; */
	padding: 0.3rem;
	margin: 0.2rem;
	border-radius: 8px;
	background: var(--dashboard-bloc-background-color);
}

/* grid-area : lineStart / columnStart / lineEnd / columnEnd */

/* TODO not used
.bloc-company {
	grid-area : 1/9 / 4/13; 
}
*/

.bloc-equipment-unit{
	grid-area : 2/7 / 5/11; 
}
.bloc-equipment-section{
	grid-area : 7/7 / 10/11; 
}
.bloc-equipment-family{
	grid-area : 2/1 / 5/5; 
}
.bloc-equipment-type{
	grid-area : 7/1 / 10/5; 
}

.bloc-equipment{
	grid-area : 12/4 / 15/8; 
}



.bloc-article-unit{
	grid-area : 2/19 / 5/23; 
}
.bloc-article-section{
	grid-area : 7/19 / 10/23; 
}
.bloc-article-category{
	grid-area : 2/13 / 5/17; 
}
.bloc-article-subcategory{
	grid-area : 7/13 / 10/17; 
}
.bloc-article{
	grid-area : 12/16 / 15/20; 
}


.bloc-nomenclature{
	grid-area : 14/10 / 17/14; 
}

.dashboard-arrow {
	align-self: stretch;
	justify-self: stretch;
}

/* TODO not used
.arrow-equipment-company-unit {
	grid-area : 4/10 / 6/12; 
}
*/
.arrow-equipment-unit-section {
	grid-area : 5/8 / 7/10; 
}

.arrow-equipment-family-type {
	grid-area : 5/2 / 7/4; 
}

.arrow-equipment-section-equipment {
	grid-area : 10/7 / 12/9; 
}

.arrow-equipment-type-equipment {
	grid-area : 10/3 / 12/5; 
}


.arrow-article-unit-section {
	grid-area : 5/20 / 7/22; 
}
.arrow-article-section-article {
	grid-area : 10/19 / 12/21; 
}
.arrow-article-category-subcategory {
	grid-area : 5/14 / 7/16; 
}
.arrow-article-subcategory-article {
	grid-area : 10/15 / 12/17; 
}



.arrow-nomenclature-equipment {
	grid-area : 14/8 / 16/10; 
}
.arrow-nomenclature-article {
	grid-area : 14/14 / 16/16; 
}


/* switch Main dashboard / panel switcher visibility */
@media (min-width: $dashboard-width-limit) {
	.panel-switcher{
		display: none;
	}
}
@media (max-width: $dashboard-width-limit) {
	.main-dashboard {
		display: none;
	}
}

