.editor-toolbar {
	display: flex;
	column-gap: 3rem;
	background-color: var(--editor-toolbar-background-color); 
	color: var(--editor-toolbar-color);
	justify-items: start;
}
.editor-toolbar span {
	align-self: center;
	flex-grow: 1;
	font-size: 1.9rem;
	margin-left: 1rem;
}
.editor-toolbar img{
	margin: 1rem;
	filter: invert(1);
}
.editor-content {
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: 1rem;
}
.editor-content > textarea {
	grid-column: 1 / -1;
}

